body {
  font-family: 'Hind Madurai', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bentham', serif;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  background-color:#b3b3d9;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.bgimg-1 {
  background-color:#b3b3d9;
  min-height: 100%;
}

.bgimg-2 {
  background-color:#dce8a8;
  min-height: 400px;
}

.bgimg-3 {
  background-color:#fbaf61;
  min-height: 400px;
}

.bgimg-4 {
  background-color:#f7617a;
  min-height: 400px;
}

.bgimg-5 {
  background-color:#d5b8b0;
  min-height: 400px;
}

.bgimg-6 {
  background-color:#f7a89b;
  min-height: 400px;
}

.bgimg-7 {
  background-color:#b3b3d9;
  min-height: 400px;
}

.bgimg-8 {
  background-color:#dce8a8;
  min-height: 400px;
}

.bgimg-9 {
  background-color:#fbaf61;
  min-height: 400px;
}

.bgimg-10 {
  background-color:#f7617a;
  min-height: 400px;
}

.bgwhite {
  background-image: url('../img/brick.jpg');
}

.border-right-w {
  border-right: 1px solid #fff;
}

.border-left-w {
  border-left: 1px solid #fff;
}

.txt-center {
  text-align:center;
}

.img-fluid {
  border: 1px solid #fff;
}

.caption {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  bottom: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
      background-attachment: scroll;
  }
}
